<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="manifest" href="/admin/assets/favicon/manifest.json">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Vendors styles-->
  <link rel="stylesheet" href="/admin/vendors/simplebar/css/simplebar.css">
  <link rel="stylesheet" href="/admin/css/vendors/simplebar.css">
  <!-- Main styles for this application-->
  <link href="/admin/css/style.css" rel="stylesheet">
  <!-- We use those styles to show code examples, you should remove them in your application.-->
  <link href="/admin/css/examples.css" rel="stylesheet">
  <link href="/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/admin/css/adminstyle.css" rel="stylesheet">
  <style>
    .heading {
      background-image: linear-gradient(50deg, 
                                    #007bff 0%, #007bff 20px, 
                                    #ffffff 20px, #ffffff 30px, 
                                    #007bff 30px, #007bff 30px, 
                                  #ffffff 50px, #007bff 70px);
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex h-50 w-50" style="margin-left: 60px;">
        <img class="avatar-img " src="/admin/uploads/<%=adminDpLogo[0].admin_logo%>">
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
      <li class="nav-item"><a class="nav-link" href="/admin/">
          <svg class="nav-icon">
            <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
          </svg>Admin Dashboard</a>
      </li>

          <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-home"></use>
          </svg> Home Page</a>
        <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="/admin/hero_section"><span class="nav-icon"></span>
         Edit Hiro Section
          </a>
        </li>
        </ul>
      </li>

      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-folder"></use>
          </svg> Design Files</a>
        <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="/admin/design_file"><span class="nav-icon"></span>
          Add New File
          </a>
        </li>
         <li class="nav-item"><a class="nav-link" href="/admin/add_category"><span class="nav-icon"></span>
          Add New Category
          </a>
        </li>
         <li class="nav-item"><a class="nav-link" href="/admin/file_list"><span class="nav-icon"></span>
          Files List
          </a>
        </li>  
        </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-people"></use>
          </svg> All Users</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/user_list"><span class="nav-icon"></span> User Accounts</a></li>
        </ul>
      </li>

       <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cart"></use>
          </svg> All Orders</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/all_orders"><span class="nav-icon"></span>  Orders</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/all_transactions"><span class="nav-icon"></span>Transactions</a></li>
        </ul>
      </li>

       <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-info"></use>
          </svg>Footer Information</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/footer_info"><span class="nav-icon"></span> User Footer</a></li>
        </ul>
      </li>

      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-contact"></use>
          </svg> Contact Responses</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="/admin/enquiry_list"><span class="nav-icon"></span> Contact
              Enquiries</a></li>
        </ul>
      </li>
     
    </ul>
  </div>
  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header class="header header-sticky mb-4">
      <div class="container-fluid">
        <button class="header-toggler px-md-0 me-md-3" type="button"
          onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
          <svg class="icon icon-lg">
            <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
          </svg>
        </button><a class="header-brand d-md-none" href="#">
          <svg width="118" height="46" alt="CoreUI Logo">
            <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
          </svg></a>


        <ul class="header-nav ms-3">
          <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
              <%if(adminDpLogo.length > 0){%>
              <div class="avatar avatar-md"><img class="avatar-img h-100 w-100"
                  src="/admin/uploads/<%=adminDpLogo[0].admin_dp%>"></div>
                  <%}else{%>
                  <div class="avatar avatar-md"><img class="avatar-img"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s"
                  alt="user@email.com"></div>
                    <%}%>
            </a>
            <div class="dropdown-menu dropdown-menu-end pt-0">
              <div class="dropdown-header bg-light py-2">
                <div class="fw-semibold">Account</div>
              </div><a class="dropdown-item" href="#">

                <a class="dropdown-item" href="/admin/admin_profile">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Profile</a>
                  <a class="dropdown-item" href="/admin/">


                  <a class="dropdown-item" href="/admin/company_info">
                    <svg class="icon me-2">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-building"></use>
                    </svg> Company Info
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/admin/logout" onclick="return confirm ('Logout Admin Account')">
                    <svg class="icon me-2">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                    </svg> Logout
                  </a>

            </div>
          </li>
        </ul>
      </div>
    </header>
    <div class="body flex-grow-1 px-3">